@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  font-family: sans-serif !important;
}
body {
  height: 100vh;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  margin: 0px !important;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #e92129;
  scrollbar-color: #000 #e92129;
}
